<div class="modal-body">
    <div class="col-md-6	offset-md-3">
        <span class="anchor" id="formLogin">
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Modificar contacto</h3>
                </div>
                <div class="card-body">
                    <app-formulario-contacto *ngFor="let c of cList;" [contacto]="c" (onItemAdded)="actualizar($event)">
                    </app-formulario-contacto>
                </div>
            </div>
        </span>
    </div>

</div>