<form [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['telefono'].value, fg.controls['correo'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <p></p>
        <input type="text" class="form-control" id="nombre" placeholder="{{ contacto.nombre }}" value=""
            [formControl]="fg.controls['nombre']">
    </div>
    <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" placeholder="{{ contacto.telefono }}" value=""
            [formControl]="fg.controls['telefono']">
    </div>
    <div class="form-group">
        <label for="correo">Correo</label>
        <input type="text" class="form-control" id="correo" placeholder="{{ contacto.correo}}" value=""
            [formControl]="fg.controls['correo']">
    </div>
    <button type="submit" class="btn btn-primary"
        *ngIf="fg.controls['nombre'].valid && fg.controls['telefono'].valid && fg.controls['correo'].valid">
        Guardar
    </button>
</form>