<div class="container content">
    <hr class="mb-5">
    <div class="row row-flex">
        <app-contacto *ngFor="let c of cList; let i=index" [contacto]="c"
            [idx]="i+1" (clicked)="elegido($event)"></app-contacto>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{ u }}}</li>
        </ul>
    </div>
</div>