<div class="card justify-content-between ml-2">
    <img class="card-img-top" src="{{personaje.image}}" alt="">    <div class="card-body">
        <h3 class="card-title" data-toggle="tooltip" data-placement="top">{{ personaje.name }}</h3>
        <hr />
        <p class="card-text">Estado: {{ personaje.status }}</p>
        <p class="card-text">Especie: {{ personaje.species }}</p>
        <p class="card-text">Genero: {{ personaje.gender }}</p>
        <hr>
        <p class="card-text">Origen: </p>
        <a href="{{ personaje.origin['url'] }}">{{ personaje.origin['name'] }}</a>
    </div>
</div>