<div class="card-content">
    <div class="card-img">
        <span>
            <h4>{{ position }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{ contacto.nombre }}</h3>
        <hr />
        <p>Telefono: {{ contacto.telefono }}</p>
        <p>Correo Electronico: </p>
        <p>{{ contacto.correo }}</p>
        <hr />
        <a href="#" class="btn-card" (click)="marcar()">Favorito</a>
        <span *ngIf="contacto.isSelected()">
            <span ngNonBindable>Favorito</span>
        </span>
    </div>


</div>