<div class="container-fluid">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <app-search class="navbar-brand" (search)="handleSearch($event)"></app-search>
    </div>
    <hr class="mb-5">
    <div class=row>
        <div class="card-columns ">
            <app-personaje *ngFor="let personaje of personajes | async | search:(filtro_valor | async)"
                [personaje]="personaje">
            </app-personaje>
        </div>
    </div>